@import "../variables.scss";

@if $button {
  button.theme-toggle {
    cursor: pointer;
    background: none;
    border: none;
    &:focus-visible {
      outline: currentColor solid;
    }
  }
}

.theme-toggle {
  line-height: 0;

  @if $checkbox {
    cursor: pointer;

    input[type="checkbox"],
    .theme-toggle-sr {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    input[type="checkbox"] {
      &:focus-visible + svg {
        outline: currentColor solid;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .theme-toggle:not(#{$forceMotionClass}) {
    * {
      transition: none !important;
    }
  }
}
