:root {
    --color-primary-100: 255 255 255;
    --color-primary-99: 253 252 255;
    --color-primary-95: 235 241 255;
    --color-primary-90: 211 227 255;
    --color-primary-80: 164 200 255;
    --color-primary-70: 112 173 255;
    --color-primary-60: 81 146 232;
    --color-primary-50: 49 120 204;
    --color-primary-40: 0 95 177;
    --color-primary-30: 0 71 137;
    --color-primary-20: 0 48 97;
    --color-primary-10: 0 27 60;
    --color-primary-0: 0 0 0;
    --color-secondary-100: 255 255 255;
    --color-secondary-99: 253 252 255;
    --color-secondary-95: 235 241 255;
    --color-secondary-90: 216 227 248;
    --color-secondary-80: 189 199 220;
    --color-secondary-70: 162 172 192;
    --color-secondary-60: 135 145 165;
    --color-secondary-50: 109 119 138;
    --color-secondary-40: 85 95 113;
    --color-secondary-30: 61 71 88;
    --color-secondary-20: 39 49 65;
    --color-secondary-10: 18 28 43;
    --color-secondary-0: 0 0 0;
    --color-tertiary-100: 255 255 255;
    --color-tertiary-99: 252 252 252;
    --color-tertiary-95: 255 235 255;
    --color-tertiary-90: 247 216 254;
    --color-tertiary-80: 219 189 226;
    --color-tertiary-70: 190 162 197;
    --color-tertiary-60: 162 135 170;
    --color-tertiary-50: 136 110 144;
    --color-tertiary-40: 110 86 118;
    --color-tertiary-30: 85 62 93;
    --color-tertiary-20: 62 40 70;
    --color-tertiary-10: 39 20 47;
    --color-tertiary-0: 0 0 0;
    --color-neutral-100: 255 255 255;
    --color-neutral-99: 253 251 255;
    --color-neutral-95: 241 240 244;
    --color-neutral-90: 227 226 230;
    --color-neutral-80: 199 198 202;
    --color-neutral-70: 171 171 175;
    --color-neutral-60: 144 144 148;
    --color-neutral-50: 118 119 122;
    --color-neutral-40: 93 94 98;
    --color-neutral-30: 70 71 75;
    --color-neutral-20: 47 48 51;
    --color-neutral-10: 27 27 29;
    --color-neutral-0: 0 0 0;
    --color-neutral-variant-100: 255 255 255;
    --color-neutral-variant-99: 253 252 255;
    --color-neutral-variant-95: 238 240 250;
    --color-neutral-variant-90: 224 226 235;
    --color-neutral-variant-80: 195 198 207;
    --color-neutral-variant-70: 168 171 180;
    --color-neutral-variant-60: 142 145 153;
    --color-neutral-variant-50: 116 119 127;
    --color-neutral-variant-40: 91 94 102;
    --color-neutral-variant-30: 67 71 78;
    --color-neutral-variant-20: 45 48 55;
    --color-neutral-variant-10: 24 28 34;
    --color-neutral-variant-0: 0 0 0;
    --color-error-100: 255 255 255;
    --color-error-99: 252 252 252;
    --color-error-95: 255 237 233;
    --color-error-90: 255 218 212;
    --color-error-80: 255 180 169;
    --color-error-70: 255 137 122;
    --color-error-60: 255 84 73;
    --color-error-50: 221 55 48;
    --color-error-40: 186 27 27;
    --color-error-30: 147 0 6;
    --color-error-20: 104 0 3;
    --color-error-10: 65 0 1;
    --color-error-0: 0 0 0;
    --color-primary-light: 0 95 177;
    --color-on-primary-light: 255 255 255;
    --color-primary-container-light: 211 227 255;
    --color-on-primary-container-light: 0 27 60;
    --color-secondary-light: 85 95 113;
    --color-on-secondary-light: 255 255 255;
    --color-secondary-container-light: 216 227 248;
    --color-on-secondary-container-light: 18 28 43;
    --color-tertiary-light: 110 86 118;
    --color-on-tertiary-light: 255 255 255;
    --color-tertiary-container-light: 247 216 254;
    --color-on-tertiary-container-light: 39 20 47;
    --color-error-light: 186 27 27;
    --color-error-container-light: 255 218 212;
    --color-on-error-light: 255 255 255;
    --color-on-error-container-light: 65 0 1;
    --color-background-light: 253 251 255;
    --color-on-background-light: 27 27 29;
    --color-surface-light: 253 251 255;
    --color-on-surface-light: 27 27 29;
    --color-surface-variant-light: 224 226 235;
    --color-on-surface-variant-light: 67 71 78;
    --color-outline-light: 116 119 127;
    --color-inverse-on-surface-light: 241 240 244;
    --color-inverse-surface-light: 47 48 51;
    --color-inverse-primary-light: 164 200 255;
    --color-primary-dark: 164 200 255;
    --color-on-primary-dark: 0 48 97;
    --color-primary-container-dark: 0 71 137;
    --color-on-primary-container-dark: 211 227 255;
    --color-secondary-dark: 189 199 220;
    --color-on-secondary-dark: 39 49 65;
    --color-secondary-container-dark: 61 71 88;
    --color-on-secondary-container-dark: 216 227 248;
    --color-tertiary-dark: 219 189 226;
    --color-on-tertiary-dark: 62 40 70;
    --color-tertiary-container-dark: 85 62 93;
    --color-on-tertiary-container-dark: 247 216 254;
    --color-error-dark: 255 180 169;
    --color-error-container-dark: 147 0 6;
    --color-on-error-dark: 104 0 3;
    --color-on-error-container-dark: 255 218 212;
    --color-background-dark: 27 27 29;
    --color-on-background-dark: 227 226 230;
    --color-surface-dark: 27 27 29;
    --color-on-surface-dark: 227 226 230;
    --color-surface-variant-dark: 67 71 78;
    --color-on-surface-variant-dark: 195 198 207;
    --color-outline-dark: 142 145 153;
    --color-inverse-on-surface-dark: 27 27 29;
    --color-inverse-surface-dark: 227 226 230;
    --color-inverse-primary-dark: 0 95 177;
    --color-primary: var(--color-primary-light);
    --color-on-primary: var(--color-on-primary-light);
    --color-primary-container: var(--color-primary-container-light);
    --color-on-primary-container: var(--color-on-primary-container-light);
    --color-secondary: var(--color-secondary-light);
    --color-on-secondary: var(--color-on-secondary-light);
    --color-secondary-container: var(--color-secondary-container-light);
    --color-on-secondary-container: var(--color-on-secondary-container-light);
    --color-tertiary: var(--color-tertiary-light);
    --color-on-tertiary: var(--color-on-tertiary-light);
    --color-tertiary-container: var(--color-tertiary-container-light);
    --color-on-tertiary-container: var(--color-on-tertiary-container-light);
    --color-error: var(--color-error-light);
    --color-error-container: var(--color-error-container-light);
    --color-on-error: var(--color-on-error-light);
    --color-on-error-container: var(--color-on-error-container-light);
    --color-background: var(--color-background-light);
    --color-on-background: var(--color-on-background-light);
    --color-surface: var(--color-surface-light);
    --color-on-surface: var(--color-on-surface-light);
    --color-surface-variant: var(--color-surface-variant-light);
    --color-on-surface-variant: var(--color-on-surface-variant-light);
    --color-outline: var(--color-outline-light);
    --color-inverse-on-surface: var(--color-inverse-on-surface-light);
    --color-inverse-surface: var(--color-inverse-surface-light);
    --color-inverse-primary: var(--color-inverse-primary-light);
  }
  .dark {
    --color-primary: var(--color-primary-dark);
    --color-on-primary: var(--color-on-primary-dark);
    --color-primary-container: var(--color-primary-container-dark);
    --color-on-primary-container: var(--color-on-primary-container-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-on-secondary: var(--color-on-secondary-dark);
    --color-secondary-container: var(--color-secondary-container-dark);
    --color-on-secondary-container: var(--color-on-secondary-container-dark);
    --color-tertiary: var(--color-tertiary-dark);
    --color-on-tertiary: var(--color-on-tertiary-dark);
    --color-tertiary-container: var(--color-tertiary-container-dark);
    --color-on-tertiary-container: var(--color-on-tertiary-container-dark);
    --color-error: var(--color-error-dark);
    --color-error-container: var(--color-error-container-dark);
    --color-on-error: var(--color-on-error-dark);
    --color-on-error-container: var(--color-on-error-container-dark);
    --color-background: var(--color-background-dark);
    --color-on-background: var(--color-on-background-dark);
    --color-surface: var(--color-surface-dark);
    --color-on-surface: var(--color-on-surface-dark);
    --color-surface-variant: var(--color-surface-variant-dark);
    --color-on-surface-variant: var(--color-on-surface-variant-dark);
    --color-outline: var(--color-outline-dark);
    --color-inverse-on-surface: var(--color-inverse-on-surface-dark);
    --color-inverse-surface: var(--color-inverse-surface-dark);
    --color-inverse-primary: var(--color-inverse-primary-dark);
  }
  