@import "../variables.scss";
@import "../utils.scss";

$variable: #{getVar(around)};

@include generic(around, flip-y);

.theme-toggle__around {
    
    circle {
        transform-origin: center;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
    }
    > g {
        > circle {
            transition-duration: calc(var($variable)*0.4);
        }
        g {
            circle {
                transform-box: fill-box;
                transition-duration: calc(var($variable)*0.2);
            }
            @for $i from 1 through 6 {
                :nth-child(#{$i}) {
                    transition-delay: calc(var(#{$variable})*#{$i*0.14 + 0.11});
                }
            }
        }
    }
    > *:first-child {
        transition: transform calc(var($variable)*0.4) cubic-bezier(0, 0, .15, 1.25);
        transform-origin: center;
        path {
            transition-property: transform, d;
            transition-duration: calc(var($variable)*0.4);
            transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
        }
    } 
}

@include toggledSelector(around) {
    > g {
        > circle {
            transform: scale(1.4);
            transition-delay: calc(var($variable)*0.6);
        }
        g {
            circle {
                transform: scale(0);
            }
            @for $i from 1 through 6 {
                :nth-child(#{$i}) {
                    transition-delay: calc(var(#{$variable})*#{($i - 1)*0.14});
                }
            }
        }
    }
    > *:first-child {
        transform: rotate(-90deg);
        transition-delay: calc(var($variable)*0.7);
        path {
            d: path("M-12-14h42v30a1 1 0 00-16 13H0Z");
            transition-delay: calc(var($variable)*0.7);
        }
    }
}
// Translating the clip path causes issues in chromium browsers so we prefer to animate
// the path data. When this isn't supported, we fallback to translation
@supports not (d: path("")) {
    @include toggledSelector(around) {
        &:first-child {
            path {
                transform: translate3d(-12px,-14px,0);
            }
        }
    }
}
