@import "../variables.scss";
@import "../normalise.scss";

$variable: --theme-toggle__classic--duration;

.theme-toggle {
    #{$variable}: $duration;
    &#{$reverseSelector} {
        .theme-toggle__expand {
            transform: scale(-1,1);
        }
    }
}

.theme-toggle__classic {
    * {
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
        transform-origin: center;
        transition-duration: var($variable);
        transition-delay: calc(var($variable)/5);
    }

    #theme-toggle__classic__cutout {
        circle {
            transition-delay: 0ms;
            transform: none;
        }
    }
}

#{$darkSelector}.theme-toggle:not(label),
.theme-toggle input[type="checkbox"]:checked ~ {
    .theme-toggle__classic {
        .theme-toggle__classic__sun-rays  * {
            transform: scale(0.5) rotate(45deg);
            opacity: 0;
            transition-delay: 0ms;
        }
        #theme-toggle__classic__cutout {
            circle {
                transform: translate(-7px, 10px);
                transition-delay: calc(var($variable)/5);
            }
        }
    }
}
