@import "../variables.scss";
@import "../utils.scss";

$variable: #{getVar(classic)};

@include generic(classic, flip-y);

.theme-toggle__classic {
    path {
        transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
        transform-origin: center;
        transition-duration: calc(var($variable)*0.8);
    }
    #theme-toggle__classic__cutout {
        path {
            transition-property: d;
        }
    }
    g {
        path {
            transition-property: opacity, transform;
            transition-delay: calc(var($variable)*0.2);
        }
    }
}

@include toggledSelector(classic) {
    g {
        path {
            transform: scale(0.5) rotate(45deg);
            opacity: 0;
            transition-delay: 0s;
        }
    }
    #theme-toggle__classic__cutout {
        path {
            d: path("M-12 5h30a1 1 0 0 0 9 13v24h-39Z");
            transition-delay: calc(var($variable)*0.2);
        }
    }
}
