@import "../variables.scss";
@import "../normalise.scss";

$variable: --theme-toggle__dark-side--duration;

.theme-toggle {
    #{$variable}: $duration;
    &#{$reverseSelector} {
        .theme-toggle__dark-side {
            transform: scale(1,-1);
        }
    }
}

.theme-toggle__dark-side {
    path {
        transform-origin: center;
        transition: transform var($variable) cubic-bezier(0, 0, .15, 1);
    }
}

#{$darkSelector}.theme-toggle:not(label),
.theme-toggle input[type="checkbox"]:checked ~ {
    .theme-toggle__dark-side {
        path {
            transform: rotate(180deg);
        }
    }
}



