@import "../variables.scss";
@import "../normalise.scss";

$variable: --theme-toggle__lightbulb--duration;

.theme-toggle {
    #{$variable}: $duration;
    &#{$reverseSelector} {
        .theme-toggle__lightbulb {
            transform: scale(-1,1);
        }
    }
}

.theme-toggle__lightbulb {
    .theme-toggle__lightbulb__rays *, 
    .theme-toggle__lightbulb__coil {
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
        opacity: 1;  
        transition-property: stroke-dashoffset, opacity;
        transition-duration: var(#{$variable}); 
    }
}

#{$darkSelector}:not(label).theme-toggle,
.theme-toggle input[type="checkbox"]:checked ~ {
    .theme-toggle__lightbulb {
        .theme-toggle__lightbulb__rays *, 
        .theme-toggle__lightbulb__coil {
            stroke-dashoffset: 1;
            opacity: 0;
        }
    }
}
