@import "../variables.scss";
@import "../utils.scss";

$variable: #{getVar(lightbulb)};

@include generic(lightbulb, flip-y);

.theme-toggle__lightbulb {
    .theme-toggle__lightbulb__rays *, 
    .theme-toggle__lightbulb__coil {
        stroke-dasharray: 1.1;
        stroke-dashoffset: 0;
        opacity: 1;  
        transition-property: stroke-dashoffset, opacity;
        transition-duration: var(#{$variable}); 
    }
}

@include toggledSelector(lightbulb) {
    .theme-toggle__lightbulb__rays *, 
    .theme-toggle__lightbulb__coil {
        stroke-dashoffset: 1;
        opacity: 0;
    }
}
