@import "../variables.scss";

.theme-toggle,
.theme-toggle--reversed {
    .theme-toggle__inner-moon {
        --theme-toggle__inner-moon--duration: #{$duration};
        .theme-toggle__inner-moon__toggle-outer {
            transform-origin: center center;
            transition: transform var(--theme-toggle__inner-moon--duration) cubic-bezier(0, 0, .15, 1.25);
        }
        .theme-toggle__inner-moon__toggle-inner {
            transition: transform calc(var(--theme-toggle__inner-moon--duration) / 1.5) cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

#{$darkSelector} :not(label).theme-toggle,
#{$darkSelector}:not(label).theme-toggle,
.theme-toggle input[type="checkbox"]:checked ~,
#{$darkSelector} :not(label).theme-toggle--reversed,
#{$darkSelector}:not(label).theme-toggle--reversed,
.theme-toggle--reversed input[type="checkbox"]:checked ~ {
    .theme-toggle__inner-moon {
        .theme-toggle__inner-moon__toggle-outer {
            transform: rotate(180deg);
        }
        .theme-toggle__inner-moon__toggle-inner {
            transform: translateX(15%);
        }
    }
}

#{$darkSelector} :not(label).theme-toggle--reversed,
#{$darkSelector}:not(label).theme-toggle--reversed,
.theme-toggle--reversed input[type="checkbox"]:checked ~ {
    .theme-toggle__inner-moon {
        .theme-toggle__inner-moon__toggle-inner {
            transform: translateX(-15%);
        }
    }
}
