@import "../variables.scss";

.#{$prefix}theme-toggle{
    ##{$prefix}inner-moon {
        * {
            will-change: transform;
        }
        ##{$prefix}toggle-outer {
            transform-origin: center center;
            transition: transform 750ms cubic-bezier(0, 0, .15, 1.25);
        }
    
        ##{$prefix}toggle-inner {
            transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    }
}


#{$darkSelector} :not(label).#{$prefix}theme-toggle,
#{$darkSelector}:not(label).#{$prefix}theme-toggle,
.#{$prefix}theme-toggle input[type="checkbox"]:checked ~ {
    ##{$prefix}inner-moon {
        ##{$prefix}toggle-outer {
            transform: rotate(180deg);
        }
        ##{$prefix}toggle-inner {
            transform: translateX(15%);
        }
        &##{$prefix}reversed {
            ##{$prefix}toggle-inner {
                transform: translateX(-15%);
            }
        }
    }
}
