@import "../variables.scss";
@import "../base/index.scss";
@import "shared.scss";

$variable: --theme-toggle__inner-moon-reversed--duration;

.theme-toggle {
    #{$variable}: $duration;
}

.theme-toggle__inner-moon-reversed {
    @include mixin__theme-toggle__inner-moon($variable);
}

#{$darkSelector}:not(label).theme-toggle,
.theme-toggle input[type="checkbox"]:checked ~ {
    .theme-toggle__inner-moon-reversed {
        .theme-toggle__inner-moon__toggle-outer {
            transform: rotate(-180deg);
        }
        .theme-toggle__inner-moon__toggle-inner {
            transform: translateX(-15%);
        }
    }
}
