%shared__theme-toggle__inner-moon {
    --theme-toggle__inner-moon--duration: #{$duration};
    .theme-toggle__inner-moon__toggle-outer {
        transform-origin: center;
        transition: transform var(--theme-toggle__inner-moon--duration) cubic-bezier(0, 0, .15, 1.25);
    }
    .theme-toggle__inner-moon__toggle-inner {
        transition: transform calc(var(--theme-toggle__inner-moon--duration) / 1.5) cubic-bezier(0.4, 0, 0.2, 1);
    }
}
