@import "./../variables.scss";
@import "./../utils.scss";

$variable: #{getVar(classic)};

@include generic(classic, flip-y);

.theme-toggle__classic {
    path {
        transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
        transform-origin: center;
        transition-duration: calc(var($variable)*0.8);
    }
    g {
        path {
            transition-property: opacity, transform;
            transition-delay: calc(var($variable)*0.2);
        }
    }
    :first-child {
        path {
            transition-property: transform, d;
        }
    }
}



@include toggledSelector(classic) {
    g {
        path {
            transform: scale(0.5) rotate(45deg);
            opacity: 0;
            transition-delay: 0s;
        }
    }
    :first-child {
        path {
            d: path("M-12 5h30a1 1 0 0 0 9 13v24h-39Z");
            transition-delay: calc(var($variable)*0.2);
        }
    }
}

// Translating the clip path causes issues in chromium browsers so we prefer to animate
// the path data. When this isn't supported, we fallback to translation
@supports not (d: path("")) {
    @include toggledSelector(classic) {
        :first-child {
            path {
                transform: translate3d(-12px, 10px, 0);
            }
        }
    }
}
