@import "../variables.scss";

.#{$prefix}theme-toggle {
    ##{$prefix}lightbulb {
        ##{$prefix}rays *, ##{$prefix}coil {
            stroke-dasharray: 1;
            stroke-dashoffset: 0;
            opacity: 1;  
            transition-property: stroke-dashoffset, opacity;
            transition-duration: 500ms; 
        }
    }
}

#{$darkSelector} :not(label).#{$prefix}theme-toggle,
#{$darkSelector}:not(label).#{$prefix}theme-toggle,
.#{$prefix}theme-toggle input[type="checkbox"]:checked ~ {
    ##{$prefix}lightbulb {
        ##{$prefix}rays *, ##{$prefix}coil {
            stroke-dashoffset: 1;
            opacity: 0;
        }
    }
}
