.tools {
    width: 100%;
    display: flex;
}

body {
    background-color: white;
}

body.dark {
    background-color: rgb(13, 17, 23);
}


main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
    padding: 2rem;
    max-width: 1920px;
    margin: 10rem;
    border-style: solid;
}

main section {
    border-radius: .5rem;
    text-align: center;
    font-size: 1rem;
}

main > :nth-child(1) {
    color: #57A0D3;
}
main > :nth-child(2) {
    color: #6593F5;
}
main > :nth-child(3) {
    color: #cfbaff;
}
main > :nth-child(4) {
    color: #f7b9b9;
}
main > :nth-child(5) {
    color: #008ECC;
}
main > :nth-child(6) {
    color: #bcdb9c;
}
main > :nth-child(7) {
    color: #faf3b1;
}
main > :nth-child(8) {
    color: #65d1c6;
}
main > :nth-child(9) {
    color: #bcabe0;
}
main > :nth-child(10) {
    color: #a4e0af;
}
  

svg {
    padding: 1rem;
    font-size: 15rem;
}
