:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.indigo.300');
  --shiki-token-string: theme('colors.indigo.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.indigo.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-transition *:not(.theme-toggle *) {
  transition: none !important;
}

.scrollbar {
  scrollbar-color: #6969dd #e0e0e0 !important;
  scrollbar-width: thin !important;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4rem;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
