@import "../variables.scss";

.theme-toggle {
  border: none;
  background: none;
  cursor: pointer;
  @if $htmlElements > 1 {
    input[type="checkbox"] {
      display: none;
    }
  }

  @if $htmlElements > 0 {
    .theme-toggle-sr {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .theme-toggle:not(#{$forceMotionClass}) {
    * {
      transition: none !important;
    }
  }
}
