// Variables to configure the toggles

// The selector used to change the toggle styles
$toggledClass: ".theme-toggle--toggled";
// The selector used to change the toggle styles
$reverseClass: ".theme-toggle--reversed";
// The selector used to disabled prefers motion
$forceMotionClass: ".theme-toggle--force-motion";
// Total duration of each animation
$duration: 500ms;



// Which HTML elements to support
// 0 -> button
// 1 -> div
// 2 -> checkbox input
// 3 -> all of the above
$htmlElements: 0 !default;
