// Variables to configure the toggles

// The selector used to change the toggle styles
$darkSelector: ".dark";
// Adds a prefix to every css class, eg 'themes-'
$prefix: "";
// Total duration of each animation in ms
$duration: 750;
