.#{$prefix}theme-toggle {
    ##{$prefix}classic {
        &, * {
            transition-property: opacity transition;
            transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
            transition-duration: 750ms;
            transform-origin: center center;
            transition-delay: 150ms;
        }
        ##{$prefix}cutout {
            transition-delay: 0ms;
        }
    }
    &.#{$prefix}reversed {
          ##{$prefix}classic ##{$prefix}cutout {
              transform: translate(-28px);
          }      
    }
}

#{$darkSelector} :not(label).#{$prefix}theme-toggle,
.#{$prefix}theme-toggle input[type="checkbox"]:checked ~ {
    ##{$prefix}classic {
        ##{$prefix}sun_rays {
            @for $i from 1 through 8 {
                line:nth-child(#{$i}) {
                    transform: scale(0.5) rotate(45deg);
                    opacity: 0;
                    transition-delay: 0ms;
                }
            }
        }
        ##{$prefix}cutout {
            transform: translate(-7px, 10px);
            transition-delay: 150ms;
        }
    }
}

#{$darkSelector} :not(label).#{$prefix}theme-toggle.#{$prefix}reversed,
.#{$prefix}theme-toggle.#{$prefix}reversed input[type="checkbox"]:checked ~ {
    ##{$prefix}classic {
        ##{$prefix}cutout {
            transform: translate(-21px, 10px);
        }
    }
}
