@import "../variables.scss";

.theme-toggle,
.theme-toggle--reversed {
    .theme-toggle__classic {
        --theme-toggle__classic--duration: #{$duration};
        * {
            transition-property: opacity, transform;
            transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
            transition-duration: var(--theme-toggle__classic--duration);
            transform-origin: center;
            transition-delay: calc(var(--theme-toggle__classic--duration)/5);
        }
        #theme-toggle__classic__cutout {
            circle {
                transition-delay: 0ms;
                transform: none;
            }
        }
    }
}

.theme-toggle--reversed {
    .theme-toggle__classic {
        #theme-toggle__classic__cutout {
            circle {
                transform: translate(-28px);
            } 
        }
    }
}

#{$darkSelector} :not(label).theme-toggle,
#{$darkSelector}:not(label).theme-toggle,
.theme-toggle input[type="checkbox"]:checked ~,
#{$darkSelector} :not(label).theme-toggle--reversed,
#{$darkSelector}:not(label).theme-toggle--reversed,
.theme-toggle--reversed input[type="checkbox"]:checked ~ {
    .theme-toggle__classic {
        .theme-toggle__classic__sun-rays  * {
            transform: scale(0.5) rotate(45deg);
            opacity: 0;
            transition-delay: 0ms;
        }
        #theme-toggle__classic__cutout {
            circle {
                transform: translate(-7px, 10px);
                transition-delay: calc(var(--theme-toggle__classic--duration)/5);
            }
        }
    }
}

#{$darkSelector} :not(label).theme-toggle--reversed,
#{$darkSelector}:not(label).theme-toggle--reversed,
.theme-toggle--reversed input[type="checkbox"]:checked ~ {
    .theme-toggle__classic {
        #theme-toggle__classic__cutout {
            circle {
                transform: translate(-28px);
            } 
        }
    }
}

