@import "../variables.scss";
@import "../base/index.scss";
@import "./shared.scss";

$variable: --theme-toggle__classic-reversed--duration;

.theme-toggle {
    #{$variable}: $duration;
}

.theme-toggle__classic-reversed {
    @include mixin__theme-toggle($variable);

    #theme-toggle__classic__cutout {
        circle {
            transition-delay: 0ms;
            transform: translate(-28px);
        }
    }
}

#{$darkSelector}.theme-toggle:not(label),
.theme-toggle input[type="checkbox"]:checked ~ {
    .theme-toggle__classic-reversed {
        @extend %shared__theme-toggle__classic__sun-rays;
        #theme-toggle__classic__cutout {
            circle {
                transform: translate(-21px, 10px);
                transition-delay: calc(var($variable)/5);
            }
        }
    }
}
