@import "../variables.scss";

.theme-toggle,
.theme-toggle--reversed {
    .theme-toggle__dark-side {
        --theme-toggle__dark-side--duration: #{$duration};
        path {
            transform-origin: center;
            transition: transform var(--theme-toggle__dark-side--duration) cubic-bezier(0, 0, .15, 1);
        }
    }
}

.theme-toggle--reversed {
    .theme-toggle__dark-side {
        path {
            transform: rotate(180deg);
        }
    }
}


#{$darkSelector} :not(label).theme-toggle,
#{$darkSelector}:not(label).theme-toggle,
.theme-toggle input[type="checkbox"]:checked ~ {
    .theme-toggle__dark-side {
        path {
            transform: rotate(180deg);
        }
    } 
}

#{$darkSelector} :not(label).theme-toggle--reversed,
#{$darkSelector}:not(label).theme-toggle--reversed,
.theme-toggle--reversed input[type="checkbox"]:checked ~ {
    .theme-toggle__dark-side {
        path {
            transform: rotate(0deg);
        }
    } 
}
